body{
    font-family: 'Bree Serif', serif;
    color: #fdfffc;
    background-color: #011627;
    text-align: center;
    border: 60px solid #23c486
    border-top: 0px;
    margin: 0px;
    }

    p{
    color: #fdfffc;
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
    }
    .userinput{
        font-size: 1.5em;
        margin-bottom: 10px;
    }

    h2{
        margin-bottom: 5%
    }

    #sub{
        border-radius: 25px;
        background: coral;
        height: 80px;
        width: 150px;
        font-size: 1.5em;

    }